.services {
  height: 100vh;

  @include breakpoint-down(medium) {
    height: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include breakpoint-down(medium) {
      grid-template-columns: 1fr;
    }

    .card {
      i {
        font-size: $font-lg;
        position: relative;
        top: -8%;
      }

      i:nth-child(2) {
        position: relative;
        top: -10%;
      }

      p {
        margin-left: 3rem;
      }
    }
  }
}
